:root{
    --light-background:#F8F1FF;
    --dark-background: #656176;
    --btn-highlight: #DECDF5;
    --dark-text:#534D56;
    --light-text:#F8F1FF;
    --body-font: 'Chilanka', cursive;
    --title-font: 'Sriracha', cursive;
}
html {
    font-family: var(--body-font);
}
.navbar-brand {
    font-family: var(--title-font);
}
.navbar {
    font-family: var(--body-font);
}
.banner {
    background-image: url("https://images.unsplash.com/photo-1509249270761-2f410c3c47dc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1049&q=80");
    background-size: cover;
}
.banner h1{
    font-family: var(--title-font);
}
.btn-tables {
    background-color: var(--dark-background);
    color:var(--light-text);
    font-family: var(--body-font);
}
.btn-reserve {
    background-color: var(--dark-background);
    color:var(--light-text);
    font-family: var(--body-font);
}
